
.lienzo{
    
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border: 5px darkblue;
    background-color: rgb(126, 177, 223);
}
    

#textoPantalla{
    width: 160px;
    height:40px;
    font-size: 20px;
    color: black;
    border: 2px black solid;
    margin: 10px;
    margin-top: 35px;
    text-align: center;

}
   
#buttons{ 
    border: 1px;
    width:170px;
    height: 190px;
    margin: 15px;
    text-align: center;
  
}



.control{
    width:38px;
    height: 30px;
    font-size: 15px;
    padding:0;
    margin: 5px;
    margin: 0 auto;
    text-align: center;
    border-radius: 2px;
    background-color: red;
    color: white;
}
.numero{
    width:35px;
    height: 30px;
    padding:0;
    margin: 5px;
    margin: 0 auto;
    text-align: center;
    border-radius: 2px;
    background-color: white;
    color: darkblue;
}

.operador{
    width:35px;
    height: 30px;
    padding:0;
    margin: 5px;
    margin: 0 auto;
    text-align: center;
    border-radius: 2px;
    background-color: grey;
    color: white;
}

#igual{
    width:35px;
    height: 30px;
    padding:0;
    margin: 5px;
    margin: 0 auto;
    text-align: center;
    border-radius: 2px;
    background-color: blue;
    color: white;
}

